<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">



    <title>Hello Backend!</title>
    <!--
      <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    -->

    <style>
      body {
        font-size: 1em;
        }
      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
        }
      .dot{
        fill: green;
        stroke: green;
        stroke-width: 0.05em;
        stroke-opacity:1;
        fill-opacity:0.01;
        }
      .black{
        fill: black;
        stroke: black;
        fill-opacity:1;
        }
      .ellipse {
        stroke: #000;
        stroke-opacity:0.5;
        stroke-width: 1em;
        fill: none;
        }
      #title{
        font-size: 6em;
        }
      g{
        text-anchor: end;
        }
      polyline{
        fill:none;
        stroke:black;
        stroke-width:2;
        }
      .line{
        fill:none;
        stroke:black;
        stroke-width:0.5em;
        }
      .hover{
        font-weight: normal;
        cursor: pointer;
        cursor: hand;
        }
      .delete{
        font-weight: normal;
        cursor: pointer;
        cursor: hand;
        text-decoration: none;
        color: red;
        }
      .underline{
        text-decoration: underline;
        }
      .normal{
        text-decoration: normal;
        }
      .bold{
        font-weight: bold;
        }

      .table {
        display:table;
        width: 100%;
        }
      .header {
        display:table-header-group;
        font-weight:bold;
        }
      .rowGroup {
        display:table-row-group;
        }
      .row {
        display:table-row;
        }
      .small {
        display:table-cell;
        width:5%;
        }
      .cell {
        display:table-cell;
        width:20%;
        }


    </style>

  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">

          </ul>
        </nav>
        <span id = "title"> Lazy PCA </span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstat/1.5.2/jstat.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

  </body>
</html>
